@font-face {
  font-family: 'ALS';
  src: url('./fonts/als_regular.otf');
  font-weight: regular;
}

@font-face {
  font-family: 'ALS';
  src: url('./fonts/als_bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'ALS';
  src: url('./fonts/als_extra_bold.otf');
  font-weight: extra_bold;
}

@font-face {
  font-family: 'Sans';
  src: url('./fonts/sans.otf');
}
